/package-lock.json
/bin/**/*.js
/node_modules
/.gradle
/app
/gradle
/*.aab
/*.apk
/*.idsig
/assetlinks.json
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/manifest-checksum.txt
/settings.gradle
/store_icon.png
/twa-manifest.json
